@model List<UserDetail>


                                            
 @foreach (var item in Model)
 {
     <tr>
         <th scope="row"><span class="MainSpan_@item.ID">@item.UserName</span> <input hidden class="InputUpdateName_@item.ID" value="@item.UserName" />  </th>
         <td> <span class="MainSpan_@item.ID">@item.Email</span> <input hidden class="InputUpdateEmail_@item.ID" value="@item.Email" /> </td>
         <td> <span class="MainSpan_@item.ID">@item.Phone </span> <input hidden class="InputUpdatePhone_@item.ID" value="@item.Phone" /> </td>
         <td>@item.CreatedOn.ToString()</td>
         <td> <i id='Edit_@item.ID' data-itemid="@item.ID" class="fa fa-edit pointer EditRow" style="padding:5Px"></i> <i id='Delete_@item.ID' data-itemid="@item.ID" class="fa fa-trash pointer DeleteRow" style="padding:5Px"></i> <i hidden id='Save_@item.ID' data-itemid="@item.ID" class="fas fa-save pointer SaveRow" style="padding:5Px" ></i> </td>

     </tr>
 }
                                        